<div class="container">
  <div>
    <label for="nombre">Nombre</label>
    <input ngModel="cliente.nombre" type="text" id="nombre" name="nombre" placeholder="Ingrese nombre">
  </div>
  <div>
    <label for="apellido">Apellido</label>
    <input ngModel="cliente.apellido" type="text" id="apellido" name="apellido" placeholder="Ingrese apellido">
  </div>
  <div>
    <label for="edad">Edad</label>
    <input ngModel="cliente.edad" type="number" id="edad"  name="edad" placeholder="Ejemplo: 18">
  </div>
  <div>
    <button type="button" (click)="mostrar()" class="btn btn-primary">Agregar</button>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
    </thead>
    <tbody *ngFor="let cliente of clientes ">
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.apellido}}</td>
      <td>{{cliente.edad}}</td>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
